/* СЛАЙДЕР */

@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .slider .container {
        padding: 8rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 633px) {
    .header_bottom .container {
        padding: 4rem 8rem;
    }
    .header_bottom-title {
        font-size: 40px;
        line-height: 24px;
    }


    .slider .container {
        padding: 4rem 8rem;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        top: 70%;
        transform: translateX(-46%);
    }
    .slider_gor-text {
        margin-top: 16px;
    }
    .slider_gor-right img {
        width: 210px;
        height: 420px;
    }


    .rec .container {
        padding: 6.4rem 8rem;
    }
    .rec_block-box {
        /* max-width: 864px; */
        /* min-width: 584px; */
        max-width: 100%;
        min-width: min-content;
        width: calc(100%);
    }
    .langs .container {
        padding: 8rem;
    }


    /* footer */
    .footer_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    .footer_text {
        /* font-weight: 600; */
    }
}


@media screen and (max-width: 870px) and (min-width: 710px) {
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        transform: translateX(-45%);
    }
}

@media screen and (max-width: 710px) and (min-width: 633px) {
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        transform: translateX(-44.2%);
    }
}


@media screen and (max-width: 1024px) {
    .header_top-item-img {
        /* display: none; */
    }
    .header_top-link button {
        display: none;
    }
    .header_bottom-shops-link {
        margin: 0 !important;
    }
    .header_bottom-title {
        letter-spacing: normal;
    }

    .header_bottom-span {
        display: block;
    }

    .slider_section-static {
        display: none;
    }

    .rec_box-img {
        width: 48px !important;
    }

    .rec_block-box img {
        width: 100%;
    }
    .header_bottom-shops-link--hidden, .footer__bottom_link--hidden {
        display: none;
    }

    .langs_title, .rec_title {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
    }


    /* footer */
    footer .container {
        padding: 40px 24px;
    }
}

@media screen and (width: 1024px) {
    .slider_section-static {
        display: none !important;
    }
}

/* @media screen and (max-width: 1279px) {
    .slider_section-static {
        display: none;
    }
} */

@media screen and (width: 1024px) {
    .swiper__gor-static {
        display: block !important;
    }
}


@media screen and (min-width: 1025px) {
    .swiper__gor {
        display: none;
    }
}



/* ОСТАЛЬНОЕ */

@media screen and (max-width: 1440px) {
    .rec_block-box {
        /* width: 530px; */
        /* max-width: 500px; */
        /* width: calc(100% - 10px); */
        /* margin: 1rem auto; */
    }
}

@media screen and (max-width: 1410px) and (min-width: 1380px) {
    .rec_block-box {
        /* width: 530px; */
        max-width: 520px;
        min-width: 465px;
        width: calc(100% - 10px);
        /* margin: 1rem auto; */
    }
}

@media screen and (max-width: 1380px) and (min-width: 1281px) {
    .rec_block-box {
        /* width: 530px; */
        max-width: 510px;
        min-width: 465px;
        width: calc(100% - 10px);
        /* margin: 1rem auto; */
    }
}

@media screen and (max-width: 1360px) and (min-width: 1340px) {
    .rec_block-box {
        /* width: 530px; */
        max-width: 495px;
        min-width: 465px;
        width: calc(100% - 10px);
        /* margin: 1rem auto; */
    }
}

@media screen and (max-width: 1340px) and (min-width: 1280px) {
    .rec_block-box {
        /* width: 530px; */
        max-width: 475px;
        /* min-width: 465px;
        width: calc(100% - 10px); */
        /* margin: 1rem auto; */
    }
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
    .rec_block-box {
        /* width: 530px; */
        max-width: 544px;
        /* min-width: 465px; */
        /* width: calc(100% - 10px); */
        /* margin: 1rem auto; */
    }
}

@media screen and (max-width: 1270px) and (min-width: 1025px) {
    .rec_block-box {
        /* max-width: 490px; */
        width: calc(100% / 2 - 20px);
        /* margin: 11px; */
    }
}

@media screen and (max-width: 1024px) {
    .header_top .container {
        padding: 24px
    }
    .header_bottom-right {
        display: none;
    }
}

@media screen and (min-width: 632px) and (max-width: 1280px) {
    .header_bottom .container {
        padding: 8rem 8rem 10rem;
    }
}


@media screen and (max-width: 1280px) and (min-width: 1024px) {
    .rec .container, .langs .container {
        padding: 12rem 8rem;
    }
}




@media screen and (max-width: 1391px) and (min-width: 1281px) {
    .langs_block-box {
        width: calc(100% / 3 - 10px);
        max-width: max-content;
    }
}

@media screen and (min-width: 1230px) and (max-width: 1230px) {
    .langs_block-box {
        width: calc(100% / 3 - 10px);
        width: 200px;
        /* min-width: 310px; */
        /* max-width: max-content; */
    }
}


@media screen and (max-width: 1230px) and (min-width: 1130px) {
    .langs_block-box {
        width: calc(100% / 3 - 10px);
        min-width: max-content;
        /* max-width: max-content; */
    }
}


@media screen and (max-width: 1130px) {
    .langs_block-box {
        width: calc(100% / 3 - 10px);
        min-width: 230px;
    }
}

@media screen and (max-width: 850px) {
    .langs_block-box {
        /* width: calc(100% / 1 - 10px);
        min-width: max-content; */
        width: 100% !important;
        max-width: 100% !important;
    }
}


@media screen and (max-width: 632px) and (min-width: 506px) {
    .swiper__gor {
        height: 600px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        top: 76.5% !important;
    }
}

@media screen and (max-width: 506px) {
    .swiper__gor {
        height: 650px;
    }
}



@media screen and (max-width: 632px) {
    .header_bottom .container {
        padding: 40px 24px;
    }
    .header_bottom-title {
        font-size: 40px;
        line-height: 48px;
    }
    .rec .container {
        padding: 16px 24px;
    }
    .rec_title {
        margin-top: 24px;
    }
    .rec_block {
        justify-content: center;
        margin-top: 32px;
    }
    .slider .container {
        padding: 24px;
    }


    .slider_gor {
        flex-direction: column-reverse;
        width: auto;
        /* width: fit-content; */
    }
    .slider_gor-left {
        width: inherit;
        margin-top: 6rem;
        padding: 24px;
    }
    .slider_gor-right {
        width: 210px;
        height: 420px;
    }
    .slider_gor-text {
        margin-top: 16px;
    }


    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        top: 72%;
    }



    .langs .container {
        padding: 24px;
    }
    .langs_title {
        margin-top: 40px;
    }
    .langs_block {
        margin-top: 32px;
    }


    .sale .container {
        padding: 40px 16px;
    }



    .rec_block-box {
        flex-direction: column;
        align-items: flex-start;
        height: 170px;
        padding: 24px;
    }
    /* .rec_box-img {
        width: 48px;
    } */
    .rec_box-text {
        max-width: 100%;
        font-size: 16px;
        margin-top: 2rem;
        margin-left: 0;
    }


    /* sale */
    .sale__bottom_logo {
        margin-top: 56px;
    }


    /* footer */
    .footer_text {
        flex-direction: column;
    }
    .footer_link {
        margin-top: 12px;
    }
    .footer_title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
}


@media screen and (max-width: 360px) {
    .slider_gor-title {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
    }
    /* .rec_block-box {
        flex-direction: column;
        align-items: flex-start;
        height: 164px;
        padding: 24px;
    }
    .rec_box-img {
        width: 48px;
    }
    .rec_box-text {
        font-size: 16px;
        margin-top: 2rem;
        margin-left: 0;
    } */
}